# Challenge 2

In this challenge we will continue working with the `Pokemon` dataset. We will attempt solving a slightly more complex problem in which we will practice the iterative data analysis process you leaned in [this video](https://www.youtube.com/watch?v=xOomNicqbkk).

The problem statement is as follows:

**You are at a Pokemon black market planning to buy a Pokemon for battle. All Pokemon are sold at the same price and you can only afford to buy one. You cannot choose which specific Pokemon to buy. However, you can specify the type of the Pokemon - one type that exists in either `Type 1` or `Type 2`. Which type should you choose in order to maximize your chance of receiving a good Pokemon?**

To remind you about the 3 steps of iterative data analysis, they are:

1. Setting Expectations
1. Collecting Information
1. Reacting to Data / Revising Expectations

Following the iterative process, we'll guide you in completing the challenge.


## Problem Solving Iteration 1

In this iteration we'll analyze the problem and identify the breakthrough. The original question statement is kind of vague because we don't know what a *good pokemon* really means as represented in the data. We'll start by understanding the dataset and see if we can find some insights.

In [1]:
# Import libraries
import numpy as np
import pandas as pd

In [2]:
# Importing the dataset
pokemon = pd.read_csv('Pokemon.csv')
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

From the data it seems whether a pokemon is good depends on its abilities as represented in the fields of `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, `Speed`, and `Total`. We are not sure about `Generation` and `Legendary` because they are not necessarily the decisive factors of the pokemon abilities.

But `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, `Speed`, and `Total` are a lot of fields! If we look at them all at once it's very complicated. This isn't Mission Impossible but it's ideal that we tackle this kind of problem after we learn Machine Learning (which you will do in Module 3). For now, is there a way to consolidate the fields we need to look into?

Fortunately there seems to be a way. It appears the `Total` field is computed based on the other 6 fields. But we need to prove our theory. If we can approve there is a formula to compute `Total` based on the other 6 abilities, we only need to look into `Total`.

We have the following expectation now:

#### The `Total` field is computed based on `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, and `Speed`.

We need to collect the following information:

* **What is the formula to compute `Total`?**
* **Does the formula work for all pokemon?**

In the cell below, make a hypothesis on how `Total` is computed and test your hypothesis.

In [3]:
# your code here
#Assumption that Total is the sum of HP, Attack, Defense, Sp. Atk, Sp. Def and Speed
pokemon['Total_2'] = pokemon['HP'] + pokemon['Attack'] + pokemon['Defense'] + pokemon['Sp. Atk'] + pokemon['Sp. Def'] + pokemon['Speed']
pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total_2
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,309
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,600
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,700
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,600
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,680
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,600

In [4]:
#I create a column to check every value in total and total_2 and see if they are equal.
#They are, so Total is the sum of all numerical columns of pokemon dataframe.
pokemon['Check_Totals'] = (pokemon['Total'] == pokemon['Total_2'])
pokemon['Check_Totals'].value_counts()

True    800
Name: Check_Totals, dtype: int64

## Problem Solving Iteration 2

Now that we have consolidated the abilities fields, we can update the problem statement. The new problem statement is:

### Which pokemon type is most likely to have the highest `Total` value?

In the updated problem statement, we assume there is a certain relationship between the `Total` and the pokemon type. But we have two *type* fields (`Type 1` and `Type 2`) that have string values. In data analysis, string fields have to be transformed to numerical format in order to be analyzed. 

In addition, keep in mind that `Type 1` always has a value but `Type 2` is sometimes empty (having the `NaN` value). Also, the pokemon type we choose may be either in `Type 1` or `Type 2`.

Now our expectation is:

#### `Type 1` and `Type 2` string variables need to be converted to numerical variables in order to identify the relationship between `Total` and the pokemon type.

The information we need to collect is:

#### How to convert two string variables to numerical?

Let's address the first question first. You can use a method called **One Hot Encoding** which is frequently used in machine learning to encode categorical string variables to numerical. The idea is to gather all the possible string values in a categorical field and create a numerical field for each unique string value. Each of those numerical fields uses `1` and `0` to indicate whether the data record has the corresponding categorical value. A detailed explanation of One Hot Encoding can be found in [this article](https://hackernoon.com/what-is-one-hot-encoding-why-and-when-do-you-have-to-use-it-e3c6186d008f). You will formally learn it in Module 3.

For instance, if a pokemon has `Type 1` as `Poison` and `Type 2` as `Fire`, then its `Poison` and `Fire` fields are `1` whereas all other fields are `0`. If a pokemon has `Type 1` as `Water` and `Type 2` as `NaN`, then its `Water` field is `1` whereas all other fields are `0`.

#### In the next cell, use One Hot Encoding to encode `Type 1` and `Type 2`. Use the pokemon type values as the names of the numerical fields you create.

The new numerical variables you create should look like below:

![One Hot Encoding](../images/one-hot-encoding.png)

In [5]:
type_1_dummies = pd.get_dummies(pokemon['Type 1'])
type_1_dummies

,Bug,Dark,Dragon,Electric,Fairy,Fighting,Fire,Flying,Ghost,Grass,Ground,Ice,Normal,Poison,Psychic,Rock,Steel,Water
0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
796,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
797,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
798,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
799,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0

In [6]:
type_2_dummies = pd.get_dummies(pokemon['Type 2'])
type_2_dummies

,Bug,Dark,Dragon,Electric,Fairy,Fighting,Fire,Flying,Ghost,Grass,Ground,Ice,Normal,Poison,Psychic,Rock,Steel,Water
0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
796,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
797,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
798,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
799,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1

## Problem Solving Iteration 3

Now we have encoded the pokemon types, we will identify the relationship between `Total` and the encoded fields. Our expectation is:

#### There are relationships between `Total` and the encoded pokemon type variables and we need to identify the correlations.

The information we need to collect is:

#### How to identify the relationship between `Total` and the encoded pokemon type fields?

There are multiple ways to answer this question. The easiest way is to use correlation. In the cell below, calculate the correlation of `Total` to each of the encoded fields. Rank the correlations and identify the #1 pokemon type that is most likely to have the highest `Total`.

In [7]:
# your code here
pokemon_corr_1 = pd.DataFrame(pokemon['Total']).join(type_1_dummies)
pokemon_corr_1

,Total,Bug,Dark,Dragon,Electric,Fairy,Fighting,Fire,Flying,Ghost,Grass,Ground,Ice,Normal,Poison,Psychic,Rock,Steel,Water
0,318,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
1,405,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
2,525,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
3,625,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
4,309,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,600,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
796,700,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
797,600,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
798,680,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
799,600,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0

In [8]:

for col in type_1_dummies.columns:
    col_corr_1 = pokemon_corr_1['Total'].corr(type_1_dummies[col])
    print(f'correlation between total and {col} is {col_corr_1}')

correlation between total and Bug is -0.14395700406987763
correlation between total and Dark is 0.017818059481941925
correlation between total and Dragon is 0.196531656074697
correlation between total and Electric is 0.01671523185109553
correlation between total and Fairy is -0.02694807292749806
correlation between total and Fighting is -0.029085910202663833
correlation between total and Fire is 0.050526548143285874
correlation between total and Flying is 0.02950369369685115
correlation between total and Ghost is 0.007593699022931042
correlation between total and Grass is -0.03605670522272074
correlation between total and Ground is 0.0040820388806002954
correlation between total and Ice is -0.0024118191624834828
correlation between total and Normal is -0.10415013081335948
correlation between total and Poison is -0.05712285130498482
correlation between total and Psychic is 0.0943636354793588
correlation between total and Rock is 0.03752409253743022
correlation between total and Steel is 0.08199964261669279
correlation between total and Water is -0.01563957537388821

In [9]:

lst_correlations_1 = [(pokemon_corr_1['Total'].corr(type_1_dummies[col]), col) for col in type_1_dummies.columns]
lst_correlations_1

[(-0.14395700406987763, 'Bug'),
 (0.017818059481941925, 'Dark'),
 (0.196531656074697, 'Dragon'),
 (0.01671523185109553, 'Electric'),
 (-0.02694807292749806, 'Fairy'),
 (-0.029085910202663833, 'Fighting'),
 (0.050526548143285874, 'Fire'),
 (0.02950369369685115, 'Flying'),
 (0.007593699022931042, 'Ghost'),
 (-0.03605670522272074, 'Grass'),
 (0.0040820388806002954, 'Ground'),
 (-0.0024118191624834828, 'Ice'),
 (-0.10415013081335948, 'Normal'),
 (-0.05712285130498482, 'Poison'),
 (0.0943636354793588, 'Psychic'),
 (0.03752409253743022, 'Rock'),
 (0.08199964261669279, 'Steel'),
 (-0.01563957537388821, 'Water')]

In [10]:
sorted(lst_correlations_1)
print(sorted(lst_correlations_1))
#the correlation between total and type 1 is very low for all type, however Dragon type has the higher correlation value.

[(-0.14395700406987763, 'Bug'), (-0.10415013081335948, 'Normal'), (-0.05712285130498482, 'Poison'), (-0.03605670522272074, 'Grass'), (-0.029085910202663833, 'Fighting'), (-0.02694807292749806, 'Fairy'), (-0.01563957537388821, 'Water'), (-0.0024118191624834828, 'Ice'), (0.0040820388806002954, 'Ground'), (0.007593699022931042, 'Ghost'), (0.01671523185109553, 'Electric'), (0.017818059481941925, 'Dark'), (0.02950369369685115, 'Flying'), (0.03752409253743022, 'Rock'), (0.050526548143285874, 'Fire'), (0.08199964261669279, 'Steel'), (0.0943636354793588, 'Psychic'), (0.196531656074697, 'Dragon')]

In [11]:
#the same process to calculate the correlations between Total and each column of one-hot encoded Type 2.
# in this case, though the correlation is very low in general, the highest level in for Type 2 Fighting

pokemon_corr_2 = pd.DataFrame(pokemon['Total']).join(type_2_dummies)


for col in type_2_dummies.columns:
    col_corr_2 = pokemon_corr_1['Total'].corr(type_2_dummies[col])
    print(f'correlation between total and {col} is {col_corr_2}')


lst_correlations_2 = [(pokemon_corr_2['Total'].corr(type_2_dummies[col]), col) for col in type_2_dummies.columns]
lst_correlations_2

sorted(lst_correlations_2)
print(sorted(lst_correlations_2))

correlation between total and Bug is -0.02137526065975609
correlation between total and Dark is 0.06584408003505507
correlation between total and Dragon is 0.11524034126366932
correlation between total and Electric is 0.014669093887687057
correlation between total and Fairy is -0.024605931992694306
correlation between total and Fighting is 0.13872559558437536
correlation between total and Fire is 0.07323375462814107
correlation between total and Flying is 0.054047514861302666
correlation between total and Ghost is -0.0048850016385913785
correlation between total and Grass is -0.039224228233521015
correlation between total and Ground is 0.016486034477241368
correlation between total and Ice is 0.10086989669829381
correlation between total and Normal is -0.013955828057115656
correlation between total and Poison is -0.06783668974639696
correlation between total and Psychic is 0.07605405991126009
correlation between total and Rock is -0.0005116787750359803
correlation between total and Steel is 0.070306924462256
correlation between total and Water is -0.018800119840813097
[(-0.06783668974639696, 'Poison'), (-0.039224228233521015, 'Grass'), (-0.024605931992694306, 'Fairy'), (-0.02137526065975609, 'Bug'), (-0.018800119840813097, 'Water'), (-0.013955828057115656, 'Normal'), (-0.0048850016385913785, 'Ghost'), (-0.0005116787750359803, 'Rock'), (0.014669093887687057, 'Electric'), (0.016486034477241368, 'Ground'), (0.054047514861302666, 'Flying'), (0.06584408003505507, 'Dark'), (0.070306924462256, 'Steel'), (0.07323375462814107, 'Fire'), (0.07605405991126009, 'Psychic'), (0.10086989669829381, 'Ice'), (0.11524034126366932, 'Dragon'), (0.13872559558437536, 'Fighting')]

# Bonus Question

Say now you can choose both `Type 1` and `Type 2` of the pokemon. In order to receive the best pokemon, which types will you choose?

In [12]:
# your code here
#I choose type dragon, because the mean value per total column is slightly higher than the corresponding value in type fighting
dragon = pokemon[(pokemon['Type 1'] == 'Dragon')].sort_values(by='Total', ascending=False)
dragon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total_2,Check_Totals
426,384,RayquazaMega Rayquaza,Dragon,Flying,780,105,180,100,180,100,115,3,True,780,True
420,381,LatiosMega Latios,Dragon,Psychic,700,80,130,100,160,120,110,3,True,700,True
418,380,LatiasMega Latias,Dragon,Psychic,700,80,100,120,140,150,110,3,True,700,True
711,646,KyuremBlack Kyurem,Dragon,Ice,700,125,170,100,120,90,95,5,True,700,True
712,646,KyuremWhite Kyurem,Dragon,Ice,700,125,120,90,170,100,95,5,True,700,True

In [13]:
fighting = pokemon[pokemon['Type 2'] == 'Fighting'].sort_values(by='Total', ascending=False)
fighting.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total_2,Check_Totals
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True,780,True
279,257,BlazikenMega Blaziken,Fire,Fighting,630,80,160,80,130,80,100,3,False,630,True
527,475,GalladeMega Gallade,Psychic,Fighting,618,68,165,95,65,115,110,4,False,618,True
716,648,MeloettaPirouette Forme,Normal,Fighting,600,100,128,90,77,77,128,5,False,600,True
232,214,HeracrossMega Heracross,Bug,Fighting,600,80,185,115,40,105,75,2,False,600,True

In [14]:
dragon['Total'].mean()

550.53125

In [15]:
fighting['Total'].mean()

525.8461538461538